.container {
  width: 2.8em;
  height: 2.3em;
  border: 1px solid black;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
  cursor: pointer;
}
