.title{
    margin-bottom: 1.4em;
}

.main_form{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.checkbox_container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}