.info_container {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 2.3em 44px 1em 44px;
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}

.blocks_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 800;
}

.subtitle_margin {
  margin-top: 3em;
}
