.btn {
  margin: 0px 44px 0px 44px;
}

.a_hover_opacity:hover {
  opacity: 50%;
}

.title_page {
  font-size: 1.5em;
  margin-bottom: 2.583em;
}

.button_reset_styles {
  all: unset;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}