.main {
  width: 71.8em;
}
.gallery_container {
  display: flex;
  gap: 3.5em;
  justify-content: end;
}
.styles.main_image_container {
  max-width: 31.25em;
  max-height: 31.25em;
}
.main_image {
  width: 31.25em;
  height: 35.25em;
}
.mini_gallery_container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.mini_gallery_container_item {
  max-width: 9.3em;
  max-height: 10em;
}
.mini_gallery_container_item_image {
  width: 100%;
  height: 100%;
}
