.buttton {
  background-color: #2c2c2c;
  color: white;
  height: 2.8em;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.buttton:hover {
  opacity: 80%;
}

.width9 {
  max-width: 9em;
}

.width11{
  max-width: 11.5em;
}

.width15{
  max-width: 15.6em;
}