.item {
  max-width: 20.9em;
  max-height: 22.625em;
}

.item:hover {
  transform: scale(1.01);
}

.button_minus {
  max-width: 1.6em;
  max-height: 1.3em;
}

.button_minus:hover {
  transform: scale(1.2);
}

.image_container {
  position: relative;
}

.button_minus_container {
  position: absolute;
  right: 15px;
  top: 0;
}

.title {
  font-size: 0.875em;
}

.item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
