.container {
  display: flex;
  gap: 1.45em;
}

input {
  width: 7.3em;
  height: 2em;
  border-radius: 15px;
  opacity: 50%;
  text-align: center;
  border: 1px solid black;
}

input::placeholder {
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}

/* Убираем стрелочки для Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Для Firefox */
}
