.footer{
    width: 100%;
    height: 25em;
    background-color: #1f1f1f;
    margin-top: 20em;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5em;
}

.title{
    color: #D2D2D2;
    text-transform: uppercase;
    margin-bottom: 2.5em;
}

.list_item{
    color: white;
    margin-bottom: 1.5em;
}

.copyright{
    width: 100%;
    text-align: center;
}