.header {
  margin-bottom: 66px;
}
.menu {
  display: flex;
  justify-content: space-between;
}

.menu_left {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 70px;
  flex-basis: 33%;
  position: relative;
}

.menu_center {
  display: flex;
  justify-content: center;
  flex-basis: 33%;
}

.menu_right {
  display: flex;
  justify-content: right;
  gap: 2em;
  flex-basis: 33%;
  align-items: center;
}

.menu_basket_container {
  position: relative;
}

.basket_number {
  color: white;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
}

.container_basket_number {
  position: absolute;
  background-color: black;
  width: 65%;
  height: 60%;
  text-align: center;
  bottom: 0;
  right: -5px;
  border-radius: 50%;
}

.image_logo {
  width: 7.1em;
  height: 7.1em;
}

.dropdown_content {
  position: absolute;
  top: 70px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content_man {
  display: none;
}

.dropdown_content_man:hover {
  display: block;
}

.dropdown_content_woman {
  display: none;
  left: 180px;
}

.dropdown_content_woman:hover {
  display: block;
}

.man {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.woman {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.man:hover + .dropdown_content_man {
  display: block;
}

.woman:hover + .dropdown_content_woman {
  display: block;
}

.menu_toggle {
  display: none;
}

.chamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 1.437em;
  height: 1.687em;
  cursor: pointer;
  z-index: 1000;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}

@media (max-width: 1100px) {
  .chamburger {
    display: flex;
  }
  .man {
    display: none;
  }
  .woman {
    display: none;
  }

  .image_logo {
    width: 4.1em;
    height: 4.1em;
  }

  .fav {
    width: 35px;
    height: 33px;
  }

  .basket {
    width: 27px;
    height: 24px;
  }

  .profile {
    width: 30px;
    height: 28px;
  }

  .header {
    margin-left: 20px;
    margin-right: 20px;
  }

  .menu_right {
    gap: 1.25em;
  }
}

.chamburger.open .line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.chamburger.open .line:nth-child(2) {
  opacity: 0;
}

.chamburger.open .line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}
