.container {
  position: absolute;
  height: 50%;
  width: 50%;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  z-index: 3;
  border-right: 0.1px solid #929292;
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
  margin-left: 1em;
  font-weight: 600;
}

.aside_gender {
  position: absolute;
  height: 50%;
  width: 50%;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  z-index: 4;
  border-right: 0.1px solid #929292;
}

.back_container {
  padding-left: 0.5em;
}

.back {
  font-size: 1.3em;
  cursor: pointer;
  color: #929292;
}

.open {
  transform: translateX(0);
}
