.form {
  width: 31.25em;
  height: 22em;
  border: 1px solid black;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5em;
}

.form_container {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.elements_container {
  display: flex;
  flex-direction: column;
  gap: 1.1em;
  align-items: center;
}

.button_container {
  margin-top: 4.6em;
  margin-bottom: 1.6em;
  width: 15.6em;
  display: flex;
  justify-content: center;
}

.link {
  font-size: 0.875em;
  color: #929292;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 1.1em;
}

.title_input {
  font-size: 0.875em;
}

.input {
  width: 15.6em;
  height: 1.9em;
  border-radius: 20px;
  border: 1px solid #929292;
  color: #929292;
  padding-left: 0.5em;
}

.links_container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}